<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>670102274118-dc4do62mopjjpnvi95s3k3seimjs7k8d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.670102274118-dc4do62mopjjpnvi95s3k3seimjs7k8d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>670102274118-3pn6ragctp4h4u5fe67bmlc4gq082cnn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAeiQXhli5JdO30TF1Okd2AZAjYmQ-blyM</string>
	<key>GCM_SENDER_ID</key>
	<string>670102274118</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.khannasir.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fir-connectivity-e5cd1</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-connectivity-e5cd1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:670102274118:ios:05770a578757c1e456ca47</string>
</dict>
</plist>